###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC7K410T-FBG676-2;


################################################################################
##
################################################################################
NET "pin_in_refclk_clk<0>"  LOC = "F22" | IOSTANDARD = LVCMOS25; #20MHz
NET "pin_in_refclk_clk<1>"  LOC = "E23" | IOSTANDARD = LVCMOS25; #54MHz
NET "pin_in_refclk_clk<2>"  LOC = "G22" | IOSTANDARD = LVCMOS25; #62MHz

NET "pin_in_refclk_clk<0>" CLOCK_DEDICATED_ROUTE = BACKBONE;
#PIN "m_clocks/m_mmcm_ref_clk0.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;
NET "pin_in_refclk_clk<1>" CLOCK_DEDICATED_ROUTE = BACKBONE;
#PIN "m_clocks/m_mmcm_ref_clk1.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;

NET "g_usrclk<0>" TNM_NET = TNM_CCD_REFCLK;
NET "g_usrclk<1>" TNM_NET = TNM_CCD_CLK;
#NET "g_usrclk<2>" TNM_NET = TNM_VGA_PIXCLK ;
NET "g_usrclk<2>" TNM_NET = TNM_TV_PIXCLK;
#NET "g_usrclk<3>" TNM_NET = TNM_MEM_REFCLK;
#NET "g_usrclk<4>" TNM_NET = TNM_MEM_CLK;

TIMESPEC TS_CCD_REFCLK  = PERIOD TNM_CCD_REFCLK   5.0    ns;#  HIGH 50%; # 200MHz
TIMESPEC TS_CCD_CLK     = PERIOD TNM_CCD_CLK      3.225  ns;#  HIGH 50%; # 310MHz
#TIMESPEC TS_CCD_CLK     = PERIOD TNM_CCD_CLK      4.032  ns;#  HIGH 50%; # 248MHz
#TIMESPEC TS_VGA_CLK     = PERIOD TNM_VGA_CLK      7.407  ns;#  HIGH 50%; # 135MHz
TIMESPEC TS_TV_PIXCLK   = PERIOD TNM_TV_PIXCLK    56.387 ns;#  HIGH 50%; # 17,734472MHz
#TIMESPEC TS_MEM_REFCLK  = PERIOD TNM_MEM_REFCLK   5.0    ns;#  HIGH 50%; # 200MHz
#TIMESPEC TS_MEM_CLK     = PERIOD TNM_MEM_CLK      2.5    ns;#  HIGH 50%; # 400MHz


################################################################################
##
################################################################################
NET "pin_out_ccd_sck"      LOC = "L25"  | IOSTANDARD = LVCMOS25;#LOC = "T20"  | IOSTANDARD = LVCMOS25;
NET "pin_out_ccd_ss_n"     LOC = "M16"  | IOSTANDARD = LVCMOS25;#LOC = "T25"  | IOSTANDARD = LVCMOS25;
NET "pin_out_ccd_mosi"     LOC = "P24"  | IOSTANDARD = LVCMOS25;#LOC = "T24"  | IOSTANDARD = LVCMOS25;
NET "pin_in_ccd_miso"      LOC = "N16"  | IOSTANDARD = LVCMOS25;#LOC = "R23"  | IOSTANDARD = LVCMOS25;

NET "pin_out_ccd_clk_p"    LOC = "N19"  | IOSTANDARD = LVDS_25; #LOC = "P23"  | IOSTANDARD = LVDS_25;
NET "pin_out_ccd_clk_n"    LOC = "M20"  | IOSTANDARD = LVDS_25; #LOC = "N23"  | IOSTANDARD = LVDS_25;
NET "pin_out_ccd_rst_n"    LOC = "K18"  | IOSTANDARD = LVCMOS25;#LOC = "U16"  | IOSTANDARD = LVCMOS25;
NET "pin_out_ccd_trig"     LOC = "R20"  | IOSTANDARD = LVCMOS25;

NET "pin_in_ccd_clk_p"     LOC = "R25"  | IOSTANDARD = LVDS_25;#LOC = "N21"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_clk_n"     LOC = "P25"  | IOSTANDARD = LVDS_25;#LOC = "N22"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_clk_p" CLOCK_DEDICATED_ROUTE = BACKBONE;
PIN "m_ccd/m_deser/m_clk_gen/loop8.tx_mmcm_adv_inst.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;

NET "pin_in_ccd_data_p<0>"   LOC = "K25"  | IOSTANDARD = LVDS_25;#LOC = "R21"  | IOSTANDARD = LVDS_25; #SYNC #Clock Region Bank 13
NET "pin_in_ccd_data_n<0>"   LOC = "K26"  | IOSTANDARD = LVDS_25;#LOC = "P21"  | IOSTANDARD = LVDS_25; #SYNC
#NET "pin_in_ccd_data_p<1>"   LOC = "R18"  | IOSTANDARD = LVDS_25; #DATA
#NET "pin_in_ccd_data_n<1>"   LOC = "P18"  | IOSTANDARD = LVDS_25; #...
#NET "pin_in_ccd_data_p<2>"   LOC = "U24"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<2>"   LOC = "U25"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<3>"   LOC = "R16"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<3>"   LOC = "R17"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<4>"   LOC = "N18"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<4>"   LOC = "M19"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<5>"   LOC = "U26"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<5>"   LOC = "V26"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<6>"   LOC = "U17"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<6>"   LOC = "T17"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<7>"   LOC = "V23"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<7>"   LOC = "V24"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<8>"   LOC = "U22"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<8>"   LOC = "V22"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<9>"   LOC = "W25"  | IOSTANDARD = LVDS_25; ##Clock Region Bank 14
#NET "pin_in_ccd_data_n<9>"   LOC = "W26"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<10>"  LOC = "V21"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<10>"  LOC = "W21"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<11>"  LOC = "Y25"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<11>"  LOC = "Y26"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<12>"  LOC = "W23"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<12>"  LOC = "W24"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<13>"  LOC = "AA25" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<13>"  LOC = "AB25" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<14>"  LOC = "W20"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<14>"  LOC = "Y21"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<15>"  LOC = "P16"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<15>"  LOC = "N17"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<16>"  LOC = "Y23"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<16>"  LOC = "AA24" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<17>"  LOC = "T18"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<17>"  LOC = "T19"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<18>"  LOC = "T22"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<18>"  LOC = "T23"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<19>"  LOC = "U19"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<19>"  LOC = "U20"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<20>"  LOC = "AB26" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<20>"  LOC = "AC26" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<21>"  LOC = "AA23" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<21>"  LOC = "AB24" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<22>"  LOC = "AC23" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<22>"  LOC = "AC24" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<23>"  LOC = "AB22" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<23>"  LOC = "AC22" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<24>"  LOC = "AD26" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<24>"  LOC = "AE26" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<25>"  LOC = "AB21" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<25>"  LOC = "AC21" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<26>"  LOC = "AD25" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<26>"  LOC = "AE25" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<27>"  LOC = "AD21" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<27>"  LOC = "AE21" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<28>"  LOC = "AE23" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<28>"  LOC = "AF23" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<29>"  LOC = "AF24" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<29>"  LOC = "AF25" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<30>"  LOC = "Y22"  | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<30>"  LOC = "AA22" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<31>"  LOC = "AE22" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<31>"  LOC = "AF22" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_p<32>"  LOC = "AD23" | IOSTANDARD = LVDS_25;
#NET "pin_in_ccd_data_n<32>"  LOC = "AD24" | IOSTANDARD = LVDS_25;

INST "m_ccd/m_deser/m_clk_gen/m_ibufds"    DIFF_TERM = TRUE;

INST "m_ccd/m_deser/gen_lvds_ch[0].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[1].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[2].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[3].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[4].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[5].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[6].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[7].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[8].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[9].m_ibufds"   DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[10].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[11].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[12].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[13].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[14].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[15].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[16].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[17].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[18].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[19].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[20].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[21].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[22].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[23].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[24].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[25].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[26].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[27].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[28].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[29].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[30].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[31].m_ibufds"  DIFF_TERM = TRUE;
#INST "m_ccd/m_deser/gen_lvds_ch[32].m_ibufds"  DIFF_TERM = TRUE;

#################################################################################
### DAC
#################################################################################
#NET "pin_out_video_adv7123_blank_n" LOC = "D20" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_sync_n"  LOC = "G19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_psave_n" LOC = "F19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_clk"     LOC = "F20" | IOSTANDARD = LVCMOS33;
#
#NET "pin_out_video_adv7123_dr<0>"   LOC = "C17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<1>"   LOC = "B19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<2>"   LOC = "C19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<3>"   LOC = "A17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<4>"   LOC = "B17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<5>"   LOC = "A19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<6>"   LOC = "A18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<7>"   LOC = "B16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<8>"   LOC = "C16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<9>"   LOC = "K15" | IOSTANDARD = LVCMOS33;
#
#NET "pin_out_video_adv7123_dg<0>"   LOC = "E15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<1>"   LOC = "J16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<2>"   LOC = "J15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<3>"   LOC = "F15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<4>"   LOC = "G15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<5>"   LOC = "G16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<6>"   LOC = "H16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<7>"   LOC = "D16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<8>"   LOC = "D15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<9>"   LOC = "C18" | IOSTANDARD = LVCMOS33;
#
#NET "pin_out_video_adv7123_db<0>"   LOC = "D19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<1>"   LOC = "H18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<2>"   LOC = "H17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<3>"   LOC = "D18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<4>"   LOC = "E18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<5>"   LOC = "E17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<6>"   LOC = "F17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<7>"   LOC = "F18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<8>"   LOC = "G17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<9>"   LOC = "E16" | IOSTANDARD = LVCMOS33;
#
#################################################################################
### VGA
#################################################################################
#NET "pin_out_video_vga_vs"          LOC = "M16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_vga_hs"          LOC = "K18" | IOSTANDARD = LVCMOS33;
#
#################################################################################
### TV
#################################################################################
#NET "pin_out_video_ad723_hsrca"     LOC = "L19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_vsrca"     LOC = "L20" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_ce"        LOC = "K16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_sa"        LOC = "L18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_stnd"      LOC = "L17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_fcs4"      LOC = "J19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_term"      LOC = "K17" | IOSTANDARD = LVCMOS33;


###################################################################################
## Location Constraints
###################################################################################
#NET   "pin_inout_phymem[0]_dq<0>"                        LOC = "AA14"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L7P_T1_32
#NET   "pin_inout_phymem[0]_dq<1>"                        LOC = "AA15"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L7N_T1_32
#NET   "pin_inout_phymem[0]_dq<2>"                        LOC = "AB14"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L10P_T1_32
#NET   "pin_inout_phymem[0]_dq<3>"                        LOC = "AA18"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L11N_T1_SRCC_32
#NET   "pin_inout_phymem[0]_dq<4>"                        LOC = "AD14"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L8N_T1_32
#NET   "pin_inout_phymem[0]_dq<5>"                        LOC = "AB16"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L12P_T1_MRCC_32
#NET   "pin_inout_phymem[0]_dq<6>"                        LOC = "AC14"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L8P_T1_32
#NET   "pin_inout_phymem[0]_dq<7>"                        LOC = "AB15"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L10N_T1_32
#NET   "pin_inout_phymem[0]_dq<8>"                        LOC = "AF15"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L2N_T0_32
#NET   "pin_inout_phymem[0]_dq<9>"                        LOC = "AE15"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L4N_T0_32
#NET   "pin_inout_phymem[0]_dq<10>"                       LOC = "AF17"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L1N_T0_32
#NET   "pin_inout_phymem[0]_dq<11>"                       LOC = "AF14"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L2P_T0_32
#NET   "pin_inout_phymem[0]_dq<12>"                       LOC = "AF19"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L5P_T0_32
#NET   "pin_inout_phymem[0]_dq<13>"                       LOC = "AD15"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L4P_T0_32
#NET   "pin_inout_phymem[0]_dq<14>"                       LOC = "AF20"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L5N_T0_32
#NET   "pin_inout_phymem[0]_dq<15>"                       LOC = "AD16"    |   IOSTANDARD = SSTL15_T_DCI         |     SLEW = FAST        ; # Pad function: IO_L6P_T0_32
#NET   "pin_out_phymem[0]_addr<12>"                       LOC = "W18"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L21P_T3_DQS_32
#NET   "pin_out_phymem[0]_addr<11>"                       LOC = "AC19"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L17P_T2_32
#NET   "pin_out_phymem[0]_addr<10>"                       LOC = "AA19"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L16P_T2_32
#NET   "pin_out_phymem[0]_addr<9>"                        LOC = "AB17"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L14P_T2_SRCC_32
#NET   "pin_out_phymem[0]_addr<8>"                        LOC = "AC18"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L13P_T2_MRCC_32
#NET   "pin_out_phymem[0]_addr<7>"                        LOC = "AC17"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L14N_T2_SRCC_32
#NET   "pin_out_phymem[0]_addr<6>"                        LOC = "AD19"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L17N_T2_32
#NET   "pin_out_phymem[0]_addr<5>"                        LOC = "V14"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L24P_T3_32
#NET   "pin_out_phymem[0]_addr<4>"                        LOC = "AA20"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L16N_T2_32
#NET   "pin_out_phymem[0]_addr<3>"                        LOC = "V17"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L20N_T3_32
#NET   "pin_out_phymem[0]_addr<2>"                        LOC = "AD18"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L13N_T2_MRCC_32
#NET   "pin_out_phymem[0]_addr<1>"                        LOC = "Y18"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L19N_T3_VREF_32
#NET   "pin_out_phymem[0]_addr<0>"                        LOC = "Y17"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L19P_T3_32
#NET   "pin_out_phymem[0]_ba<2>"                          LOC = "W16"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L22N_T3_32
#NET   "pin_out_phymem[0]_ba<1>"                          LOC = "AB20"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L18N_T2_32
#NET   "pin_out_phymem[0]_ba<0>"                          LOC = "W14"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L24N_T3_32
#NET   "pin_out_phymem[0]_ras_n"                          LOC = "V18"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L23P_T3_32
#NET   "pin_out_phymem[0]_cas_n"                          LOC = "V19"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L23N_T3_32
#NET   "pin_out_phymem[0]_we_n"                           LOC = "V16"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L20P_T3_32
#NET   "pin_out_phymem[0]_reset_n"                        LOC = "AC16"    |   IOSTANDARD = LVCMOS15             |     SLEW = FAST        ; # Pad function: IO_L12N_T1_MRCC_32
#NET   "pin_out_phymem[0]_cke<0>"                         LOC = "W19"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L21N_T3_DQS_32
#NET   "pin_out_phymem[0]_odt<0>"                         LOC = "AB19"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L18P_T2_32
#NET   "pin_out_phymem[0]_cs_n<0>"                        LOC = "W15"     |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L22P_T3_32
#NET   "pin_out_phymem[0]_dm<0>"                          LOC = "AA17"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L11P_T1_SRCC_32
#NET   "pin_out_phymem[0]_dm<1>"                          LOC = "AE17"    |   IOSTANDARD = SSTL15               |     SLEW = FAST        ; # Pad function: IO_L1P_T0_32
#NET   "pin_inout_phymem[0]_dqs_p<0>"                     LOC = "Y15"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     SLEW = FAST        ; # Pad function: IO_L9P_T1_DQS_32
#NET   "pin_inout_phymem[0]_dqs_n<0>"                     LOC = "Y16"     |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     SLEW = FAST        ; # Pad function: IO_L9N_T1_DQS_32
#NET   "pin_inout_phymem[0]_dqs_p<1>"                     LOC = "AE18"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     SLEW = FAST        ; # Pad function: IO_L3P_T0_DQS_32
#NET   "pin_inout_phymem[0]_dqs_n<1>"                     LOC = "AF18"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     SLEW = FAST        ; # Pad function: IO_L3N_T0_DQS_32
#NET   "pin_out_phymem[0]_ck_p<0>"                        LOC = "AD20"    |   IOSTANDARD = DIFF_SSTL15          |     SLEW = FAST        ; # Pad function: IO_L15P_T2_DQS_32
#NET   "pin_out_phymem[0]_ck_n<0>"                        LOC = "AE20"    |   IOSTANDARD = DIFF_SSTL15          |     SLEW = FAST        ; # Pad function: IO_L15N_T2_DQS_32
#
#
#CONFIG INTERNAL_VREF_BANK32= 0.750;
#
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_out" LOC=PHASER_OUT_PHY_X1Y1;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_out" LOC=PHASER_OUT_PHY_X1Y0;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_out" LOC=PHASER_OUT_PHY_X1Y3;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_out" LOC=PHASER_OUT_PHY_X1Y2;
#
### INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y1;
### INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y0;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y3;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/phaser_in_gen.phaser_in" LOC=PHASER_IN_PHY_X1Y2;
#
#
#
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_B.ddr_byte_lane_B/out_fifo" LOC=OUT_FIFO_X1Y1;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_A.ddr_byte_lane_A/out_fifo" LOC=OUT_FIFO_X1Y0;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/out_fifo" LOC=OUT_FIFO_X1Y3;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/out_fifo" LOC=OUT_FIFO_X1Y2;
#
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y3;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/in_fifo_gen.in_fifo" LOC=IN_FIFO_X1Y2;
#
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phy_control_i" LOC=PHY_CONTROL_X1Y0;
#
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/phaser_ref_i" LOC=PHASER_REF_X1Y0;
#
#
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_D.ddr_byte_lane_D/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y43;
#INST "*/ddr_phy_4lanes_0.u_ddr_phy_4lanes/ddr_byte_lane_C.ddr_byte_lane_C/ddr_byte_group_io/*slave_ts" LOC=OLOGIC_X1Y31;
#
#INST "*/u_ddr3_infrastructure/plle2_i" LOC=PLLE2_ADV_X1Y0;
#INST "*/u_ddr3_infrastructure/gen_mmcm.mmcm_i" LOC=MMCME2_ADV_X1Y0;
#
#
#NET "*/iserdes_clk" TNM_NET = "TNM_ISERDES_CLK";
#INST "*/mc0/mc_read_idle_r" TNM = "TNM_SOURCE_IDLE";
#INST "*/input_[?].iserdes_dq_.iserdesdq" TNM = "TNM_DEST_ISERDES";
#TIMESPEC "TS_ISERDES_CLOCK" = PERIOD "TNM_ISERDES_CLK" 2500 ps;
#TIMESPEC TS_MULTICYCLEPATH = FROM "TNM_SOURCE_IDLE" TO "TNM_DEST_ISERDES" TS_ISERDES_CLOCK*6;
#
#
#INST "*/device_temp_sync_r1*" TNM="TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC";
#TIMESPEC "TS_MULTICYCLEPATH_DEVICE_TEMP_SYNC" = TO "TNM_MULTICYCLEPATH_DEVICE_TEMP_SYNC" 20 ns DATAPATHONLY;


################################################################################
##
################################################################################
#NET "pin_out_TP<0>"   LOC = "F24" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<1>"   LOC = "E25" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<2>"   LOC = "D25" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<3>"   LOC = "G25" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<4>"   LOC = "G26" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<5>"   LOC = "F25" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<6>"   LOC = "E26" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<7>"   LOC = "J26" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<8>"   LOC = "H26" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<9>"   LOC = "H21" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<10>"  LOC = "G21" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<11>"  LOC = "H23" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<12>"  LOC = "H24" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<13>"  LOC = "J21" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<14>"  LOC = "H22" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<15>"  LOC = "J24" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<16>"  LOC = "J25" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<17>"  LOC = "L22" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<18>"  LOC = "K22" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<19>"  LOC = "K23" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<20>"  LOC = "J23" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<21>"  LOC = "L23" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<22>"  LOC = "D21" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<23>"  LOC = "C22" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<24>"  LOC = "B20" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<25>"  LOC = "A20" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<26>"  LOC = "E21" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<27>"  LOC = "E22" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<28>"  LOC = "C21" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<29>"  LOC = "B21" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<30>"  LOC = "D23" | IOSTANDARD = LVCMOS25;
#NET "pin_out_TP<31>"  LOC = "D24" | IOSTANDARD = LVCMOS25;


#NET "pin_out_TP2<0>"      LOC = "N16"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(1) MISO
#NET "pin_out_TP2<1>"      LOC = "K25"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(2) MOSI
#NET "pin_out_TP2<2>"      LOC = "K26"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(3) SCLK
NET "pin_in_btn"         LOC = "P26"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(5)
#NET "pin_out_led<0>"     LOC = "P24"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(8)
#NET "pin_out_led<1>"     LOC = "L25"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(7)  SSN

NET "pin_out_led<0>"     LOC = "R26"  | IOSTANDARD = LVCMOS25;