###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC7K410T-FBG676-2;

################################################################################
##
################################################################################
NET "pin_in_refclk_clk<0>"  LOC = "F22" | IOSTANDARD = LVCMOS25; #20MHz
NET "pin_in_refclk_clk<1>"  LOC = "E23" | IOSTANDARD = LVCMOS25; #54MHz
NET "pin_in_refclk_clk<2>"  LOC = "G22" | IOSTANDARD = LVCMOS25; #62MHz

NET "pin_in_refclk_clk<0>" CLOCK_DEDICATED_ROUTE = BACKBONE;
#PIN "m_clocks/m_mmcm_ref_clk0.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;
NET "pin_in_refclk_clk<1>" CLOCK_DEDICATED_ROUTE = BACKBONE;
#PIN "m_clocks/m_mmcm_ref_clk1.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;

NET "g_usrclk<0>" TNM_NET = TNM_CCD_REFCLK;
NET "g_usrclk<1>" TNM_NET = TNM_CCD_CLK;

##NET "g_usrclk<2>" TNM_NET = TNM_VGA_PIXCLK ;
#NET "g_usrclk<2>" TNM_NET = TNM_TV_PIXCLK;
#
TIMESPEC TS_CCD_REFCLK  = PERIOD TNM_CCD_REFCLK   5.0    ns;#  HIGH 50%; # 200MHz
TIMESPEC TS_CCD_CLK     = PERIOD TNM_CCD_CLK      3.225  ns;#  HIGH 50%; # 310MHz
##TIMESPEC TS_VGA_CLK     = PERIOD TNM_VGA_CLK      7.407  ns;#  HIGH 50%; # 135MHz
#TIMESPEC TS_TV_PIXCLK   = PERIOD TNM_TV_PIXCLK    56.387 ns;#  HIGH 50%; # 17,734472MHz

#################################################################################
###
#################################################################################
NET "pin_out_ccd_sck"      LOC = "T20"  | IOSTANDARD = LVCMOS25;#LOC = "L25"  | IOSTANDARD = LVCMOS25;#
NET "pin_out_ccd_ss_n"     LOC = "T25"  | IOSTANDARD = LVCMOS25;#LOC = "M16"  | IOSTANDARD = LVCMOS25;#
NET "pin_out_ccd_mosi"     LOC = "T24"  | IOSTANDARD = LVCMOS25;#LOC = "P24"  | IOSTANDARD = LVCMOS25;#
NET "pin_in_ccd_miso"      LOC = "R23"  | IOSTANDARD = LVCMOS25;#LOC = "N16"  | IOSTANDARD = LVCMOS25;#

NET "pin_out_ccd_clk_p"    LOC = "P23"  | IOSTANDARD = LVDS_25; #LOC = "N19"  | IOSTANDARD = LVDS_25; #
NET "pin_out_ccd_clk_n"    LOC = "N23"  | IOSTANDARD = LVDS_25; #LOC = "M20"  | IOSTANDARD = LVDS_25; #
NET "pin_out_ccd_rst_n"    LOC = "U16"  | IOSTANDARD = LVCMOS25;#LOC = "K18"  | IOSTANDARD = LVCMOS25;#
NET "pin_out_ccd_trig"     LOC = "R20"  | IOSTANDARD = LVCMOS25;

NET "pin_in_ccd_clk_p"     LOC = "N21"  | IOSTANDARD = LVDS_25;#LOC = "R25"  | IOSTANDARD = LVDS_25;#
NET "pin_in_ccd_clk_n"     LOC = "N22"  | IOSTANDARD = LVDS_25;#LOC = "P25"  | IOSTANDARD = LVDS_25;#
#NET "pin_in_ccd_clk_p" CLOCK_DEDICATED_ROUTE = BACKBONE;
#INST "m_ccd/m_deser/m_clk_gen/loop8.tx_mmcm_adv_inst" LOC=MMCME2_ADV_X0Y1;
NET "pin_in_ccd_monitor<0>"  LOC = "M21"  | IOSTANDARD = LVCMOS25;
NET "pin_in_ccd_monitor<1>"  LOC = "M22"  | IOSTANDARD = LVCMOS25;
NET "pin_in_ccd_monitor<2>"  LOC = "R22"  | IOSTANDARD = LVCMOS25;

NET "pin_in_ccd_data_p<0>"   LOC = "R21"  | IOSTANDARD = LVDS_25;#LOC = "K25"  | IOSTANDARD = LVDS_25;# #SYNC #Clock Region Bank 13
NET "pin_in_ccd_data_n<0>"   LOC = "P21"  | IOSTANDARD = LVDS_25;#LOC = "K26"  | IOSTANDARD = LVDS_25;# #SYNC
NET "pin_in_ccd_data_p<1>"   LOC = "R18"  | IOSTANDARD = LVDS_25; #DATA
NET "pin_in_ccd_data_n<1>"   LOC = "P18"  | IOSTANDARD = LVDS_25; #...
NET "pin_in_ccd_data_p<2>"   LOC = "U24"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<2>"   LOC = "U25"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<3>"   LOC = "R16"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<3>"   LOC = "R17"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<4>"   LOC = "N18"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<4>"   LOC = "M19"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<5>"   LOC = "U26"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<5>"   LOC = "V26"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<6>"   LOC = "U17"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<6>"   LOC = "T17"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<7>"   LOC = "V23"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<7>"   LOC = "V24"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<8>"   LOC = "U22"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<8>"   LOC = "V22"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<9>"   LOC = "W25"  | IOSTANDARD = LVDS_25; ##Clock Region Bank 14
NET "pin_in_ccd_data_n<9>"   LOC = "W26"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<10>"  LOC = "V21"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<10>"  LOC = "W21"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<11>"  LOC = "Y25"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<11>"  LOC = "Y26"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<12>"  LOC = "W23"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<12>"  LOC = "W24"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<13>"  LOC = "AA25" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<13>"  LOC = "AB25" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<14>"  LOC = "W20"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<14>"  LOC = "Y21"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<15>"  LOC = "P16"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<15>"  LOC = "N17"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<16>"  LOC = "Y23"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<16>"  LOC = "AA24" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<17>"  LOC = "T18"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<17>"  LOC = "T19"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<18>"  LOC = "T22"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<18>"  LOC = "T23"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<19>"  LOC = "U19"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<19>"  LOC = "U20"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<20>"  LOC = "AB26" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<20>"  LOC = "AC26" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<21>"  LOC = "AA23" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<21>"  LOC = "AB24" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<22>"  LOC = "AC23" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<22>"  LOC = "AC24" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<23>"  LOC = "AB22" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<23>"  LOC = "AC22" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<24>"  LOC = "AD26" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<24>"  LOC = "AE26" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<25>"  LOC = "AB21" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<25>"  LOC = "AC21" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<26>"  LOC = "AD25" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<26>"  LOC = "AE25" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<27>"  LOC = "AD21" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<27>"  LOC = "AE21" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<28>"  LOC = "AE23" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<28>"  LOC = "AF23" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<29>"  LOC = "AF24" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<29>"  LOC = "AF25" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<30>"  LOC = "Y22"  | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<30>"  LOC = "AA22" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<31>"  LOC = "AE22" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<31>"  LOC = "AF22" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_p<32>"  LOC = "AD23" | IOSTANDARD = LVDS_25;
NET "pin_in_ccd_data_n<32>"  LOC = "AD24" | IOSTANDARD = LVDS_25;

INST "m_ccd/m_fg/delayctrl0"  LOC = IDELAYCTRL_X0Y0;
INST "m_ccd/m_fg/delayctrl1"  LOC = IDELAYCTRL_X0Y1;
INST "m_ccd/m_fg/m_clk_gen/m_ibufds"    DIFF_TERM = TRUE;
INST "m_ccd/m_fg/gen_lvds_ch[*].m_deser/m_ibufds"  DIFF_TERM = TRUE;
INST "m_ccd/m_fg/gen_lvds_ch[*].m_deser/m_idelaye2"  IODELAY_GROUP = "CCD_GROUP_DESER_LVDS";

#################################################################################
### DAC
#################################################################################
#NET "pin_out_video_adv7123_blank_n" LOC = "D20" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_sync_n"  LOC = "G19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_psave_n" LOC = "F19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_clk"     LOC = "F20" | IOSTANDARD = LVCMOS33;
#
#NET "pin_out_video_adv7123_dr<0>"   LOC = "C17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<1>"   LOC = "B19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<2>"   LOC = "C19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<3>"   LOC = "A17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<4>"   LOC = "B17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<5>"   LOC = "A19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<6>"   LOC = "A18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<7>"   LOC = "B16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<8>"   LOC = "C16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dr<9>"   LOC = "K15" | IOSTANDARD = LVCMOS33;
#
#NET "pin_out_video_adv7123_dg<0>"   LOC = "E15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<1>"   LOC = "J16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<2>"   LOC = "J15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<3>"   LOC = "F15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<4>"   LOC = "G15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<5>"   LOC = "G16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<6>"   LOC = "H16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<7>"   LOC = "D16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<8>"   LOC = "D15" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_dg<9>"   LOC = "C18" | IOSTANDARD = LVCMOS33;
#
#NET "pin_out_video_adv7123_db<0>"   LOC = "D19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<1>"   LOC = "H18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<2>"   LOC = "H17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<3>"   LOC = "D18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<4>"   LOC = "E18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<5>"   LOC = "E17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<6>"   LOC = "F17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<7>"   LOC = "F18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<8>"   LOC = "G17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_adv7123_db<9>"   LOC = "E16" | IOSTANDARD = LVCMOS33;

#################################################################################
### VGA
#################################################################################
#NET "pin_out_video_vga_vs"          LOC = "M16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_vga_hs"          LOC = "K18" | IOSTANDARD = LVCMOS33;
#
#################################################################################
### TV
#################################################################################
#NET "pin_out_video_ad723_hsrca"     LOC = "L19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_vsrca"     LOC = "L20" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_ce"        LOC = "K16" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_sa"        LOC = "L18" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_stnd"      LOC = "L17" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_fcs4"      LOC = "J19" | IOSTANDARD = LVCMOS33;
#NET "pin_out_video_ad723_term"      LOC = "K17" | IOSTANDARD = LVCMOS33;
##NET "pin_in_tv_det"                 LOC = "M17" | IOSTANDARD = LVCMOS33;
##NET "pin_in_tv_det" CLOCK_DEDICATED_ROUTE = FALSE;

################################################################################
##
################################################################################
NET "pin_out_TP2<0>"      LOC = "N16"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(1) MISO
NET "pin_out_TP2<1>"      LOC = "K25"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(2) MOSI
NET "pin_out_TP2<2>"      LOC = "K26"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(3) SCLK
NET "pin_in_btn"         LOC = "P26"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(5)
#NET "pin_out_led<0>"     LOC = "P24"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(8)
#NET "pin_out_led<1>"     LOC = "L25"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(7)  SSN

NET "pin_out_led<0>"     LOC = "R26"  | IOSTANDARD = LVCMOS25;
#
#NET "pin_out_physpi_sck"      LOC = "N16"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(1)
#NET "pin_out_physpi_ss_n"     LOC = "K25"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(2)
#NET "pin_out_physpi_mosi"     LOC = "K26"  | IOSTANDARD = LVCMOS25;#׀אחתול X2 pin(3)
#NET "pin_in_physpi_miso"      LOC = "R23"  | IOSTANDARD = LVCMOS25;